{{!-- <div class="col-md-6 col-12 main_header_right rounded  " id="contact"> --}}
  <div class="container-fluid mt-5" id="contact">
           <div class="row">
             <h1 class="text-center main-heading txt">Contact Us</h1>
            <p class="text-center main-heading para-txt"> We Will Be Happy To Help You</p>
                    
                <div class="col-md-10 col-12 mx-auto">
                     <section>
                        <div class="container mt-5 pt-5 " style="max-width: 1200px; margin-bottom: 100px;">
                            <div class="row">
                            <div class="col-12 col-sm-7 col-md-6 m-auto">
                                <div class="card border-0 shadow">
                                <div class="card-body">
                                    <form action="/contact" method="POST">
                                    <h4>Name</h4>
                                    <input type="text" name="name" id="name" class="form-control my-4 py-2" placeholder="Name" />
                                    <h4>Email Address</h4>
                                    <input type="text" name="email" id="email" class="form-control my-4 py-2" placeholder="Email Address" />
                                    <h4>Contact Number</h4>
                                    <input type="text" name="phone" id="phone" class="form-control my-4 py-2" placeholder="Contact Number" />
                                    <h4>Message</h4>
                                    <input type="text" name="message" id="message" class="form-control my-4 py-2" placeholder="Message" />
                                    <div class="t mt-3">
                                    <button class="btn-primary rounded-pill py-2 px-3" >Submit</button>
                                    </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                     </section>
                 </div>
           </div>
  </div>
</div>
