<div class="container-fluid mt-5" id="service">
           <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                     <h1 class="text-center main-heading txt">Our Services</h1>
                     <p class="text-center main-heading para-txt"> Groww your business with US</p>
                    <div class ="row">
                             <div class="col-md-4 py-5 px-5">
                             <div class="box">
                                 <div class="our-services">
                                     <div class="icon">   
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-body">
                                                <img src="https://cdn-icons-png.flaticon.com/512/1005/1005141.png" height="120" width="180" alt="" class="px-5 py-3">
                                                <h5 class="card-title">Web Development</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                        <div class="col-md-4 py-5 px-5">
                             <div class="box">
                                 <div class="our-services">
                                     <div class="icon">   
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-body">
                                                <img src="https://cdn-icons-png.flaticon.com/512/1041/1041916.png" height="120" width="190" alt="" class="px-5 py-3">
                                                <h5 class="card-title">chat</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="col-md-4 py-5 px-5">
                             <div class="box">
                                 <div class="our-services">
                                     <div class="icon">   
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-body">
                                                <img src="https://cdn-icons-png.flaticon.com/512/1179/1179069.png" height="120" width="180" alt="" class="px-5 py-3">
                                                <h5 class="card-title">Video chat</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="col-md-4 py-5 px-5">
                             <div class="box">
                                 <div class="our-services">
                                     <div class="icon">   
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-body">
                                                <img src="https://cdn-icons-png.flaticon.com/512/1086/1086741.png" height="120" width="180" alt="" class="px-5 py-3">
                                                <h5 class="card-title">Payment Method</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="col-md-4 py-5 px-5">
                             <div class="box">
                                 <div class="our-services">
                                     <div class="icon">   
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-body">
                                                <img src="https://cdn-icons.flaticon.com/png/512/2273/premium/2273145.png?token=exp=1648892710~hmac=7475a9eb618b15ea6f470cc4fc5a469c" height="120" width="180" alt="" class="px-5 py-3">
                                                <h5 class="card-title">Cber Security</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="col-md-4 py-5 px-5">
                             <div class="box">
                                 <div class="our-services">
                                     <div class="icon">   
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-body">
                                                <img src="https://cdn-icons.flaticon.com/png/512/2021/premium/2021717.png?token=exp=1648892846~hmac=35e9ce43bf98acd3663090906b84b11f" height="120" width="180" alt="" class="px-5 py-3">
                                                <h5 class="card-title">Machine Learning</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>  
                </div>
           </div>
</div>


